<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form action="">
    <center>
        <table>
        <tr><td colspan="2" align="center"><h2> Login Demo Page </h2> </td></tr>
        <tr><td>Enter Username:</td><td><input type="text" placeholder="Enter username"></td></tr>
        <tr><td>Enter Your Password:</td>><td><input type="password" placeholder="Enter Password"></td></tr>
            <tr><td colspan="2" align="center"> <input type="submit" value="Login"> </td></tr> </center>
        </table>
    </center>
    </form>

</body>
</html>